<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false"/>

    <node name="object_detection" type="object_detection" pkg="fisheye_camera_simulated_sensors_ros1" output="screen">
        <param name="debug" value="$(arg debug)"/>
        <param name="sensor_img_path" value="$(find fisheye_camera_simulated_sensors_ros1)/include/images/"/>
    </node>

</launch>