<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false"/>

    <node name="proximity_sensor" type="proximity_sensor" pkg="fisheye_camera_simulated_sensors_ros1" output="screen">
        <param name="debug" value="$(arg debug)"/>
        <remap from="/static_laser" to="/sim1/static_laser"/>
    </node>

</launch>